*{
    scroll-behavior: smooth;
   }
   
.header_carousel .carousel-item img {
    height: 500px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire carousel item */
}

.card-img   {
    height: 240px; /* Adjust the height as needed */
}

.product_img img {
    height: 300px;
    width:250px;
}
.feature{
    padding-top : 100px;
    padding-bottom: 300px;
}